body{
    background-color: rgb(10, 67, 172);
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 35px
}
.contenido{
    background: rgb(20, 37, 37);
    width: 100%;
    height: 150px;
    color: white;
}
h2{
    text-align: center;
}